/* external scss start */
$active-color: #15a675;
$icon-dark-color: #15a675;
$primary-btn-hover-color: #11976b;
$active-light-color: #dff7f0;
$icon-light-color: #afe9d6;
$font-title-color: #09121a;
$menu-switch-active-color: #324558;
$banner-description-color: #324558;
$font-light-color: #939ea9;
$input-placeholder-color: #939ea9;
$theme-background-color: #f5f7fa;
$table-header-background-color: #f5f7fa;
$normal-background-color: #ffffff;
/* external scss end */
